<h1 class="full">Admin</h1>
<ul class="list full">
  <li><%= link_to 'Help', admin_help_path %></li>
</ul>
<ul class="list third">
  <li class="group_header">Orders</li>
  <li><%= link_to 'Proofs', proofs_path %></li>
  <li><%= link_to 'Orders', orders_path %></li>
  <li class="group_header">Product Management</li>
  <li><%= link_to 'Schools', schools_path %></li>
  <li><%= link_to 'Package Types', package_types_path %></li>
  <li><%= link_to 'Packages', packages_path %></li>
  <li><%= link_to 'Option Types', option_types_path %></li>
  <li><%= link_to 'Options', options_path %></li>
  <li><%= link_to 'Print Products', products_path %></li>
</ul>
<ul class="list third">
  <li class="group_header">Site Management</li>
  <li><%= link_to 'Pages', pages_path %></li>
  <li><%= link_to 'Navigation', nav_links_path %></li>
  <li><%= link_to 'Users', users_path %></li>
  <li class="group_header">Admin</li>
  <li><%= link_to 'Log', admin_log_path %></li>
</ul>
<ul class="list third">
  <li class="group_header">Mass Emailer</li>
  <li><%= link_to 'Emailer', mailer_path %></li>
  <li class="group_header">Modesto Marathon</li>
  <li><%= link_to 'Runners', runners_path %></li>
  <li><%= link_to 'Races', races_path %></li>
</ul>