<h1 class="full"><%= breadcrumbs :admin, :users %></h1>
<hr class="full" />
<table class="full">
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>Roles</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= user.roles.map(&:title).join(', ') %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<hr class="full" />
<%= link_to 'New User', new_user_path, :class => 'full' %>
