<h1 class="full"><%= breadcrumbs :admin, :pages %></h1>
<hr class="full" />
<table class="full">
  <tr>
    <th>Title</th>
    <th>Slug</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% render_table_rows Page.arrange do |page, child| %>
  <tr>
    <td><%= "#{'-- '*page.level}#{page.title}" %></td>
    <td><%= page.slug %></td>
    <td><%= truncate page.body, :length => 80 %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <%= child %>
<% end %>
</table>
<hr class="full" />
<%= link_to 'New Page', new_page_path, :class => 'full' %>
