<% @javascripts << 'application/multiple_upload' %>

<%= form_for @proof, :html => { :multipart => true } do |f| %>
  <% if @proof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proof.errors.count, "error") %> prohibited this proof from being saved:</h2>
      <ul>
      <% @proof.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fourth field">
    <%= f.label :student_id, 'Student ID' %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="fourth field">
    <%= f.label :school_id %>
    <%= f.collection_select :school_id, SchoolType.find_by_title('High').schools, :id, :title %>
  </div>
  <div class="half_box">
    <div class="half field">
      <%= label_tag 'proof[photos][]', 'Photos' %>
      <%= file_field_tag 'proof[photos][]', :multiple => true %>
      <ul class="file_list"></ul>
    </div>
    <%= link_to 'Add Folder', '#', :id => 'add_multiple_file_input', :class => 'half' %>
  </div>
  <hr class="full" />
  <div class="full actions">
    <%= f.submit %>
  </div>
<% end %>
