<div class="sixth">
  <h3><%= link_to 'Purchase Pictures', purchase_pictures_path %></h3>
</div>
<div class="sixth">
  <h3><%= link_to 'Senior Portraits', '/senior_portraits' %></h3>
  <ul>
    <li><%= link_to 'Portfolio', '/senior_portraits/portfolio' %></li>
    <li><%= link_to 'Tips', '/senior_portraits/tips' %></li>
    <li><%= link_to 'Sittings', '/senior_portraits/sittings' %></li>
    <li><%= link_to 'Packages', '/senior_portraits/packages' %></li>
    <li><%= link_to 'Announcements', '/senior_portraits/announcements' %></li>
  </ul>
</div>
<div class="sixth">
  <h3><%= link_to 'Yearbooks', '/yearbooks' %></h3>
</div>
<div class="sixth">
  <h3><%= link_to 'School Support', '/school_support' %></h3>
  <ul>
    <li><%= link_to 'Star Test Materials', '/school_support/star_test_materials' %></li>
    <li><%= link_to 'Star Support', '/school_support/star_support' %></li>
    <li><%= link_to 'Standards Books', '/school_support/standards_books' %></li>
    <li><%= link_to 'CST Blueprints', '/school_support/cst_blueprints' %></li>
  </ul>
</div>
<div class="sixth">
  <h3><%= link_to 'Printing', printing_path %></h3>
</div>
<div class="sixth">
  <h3><%= link_to 'Contact', contact_path %></h3>
  <ul>
    <li><%= mail_to 'info@shoobphoto.com' %></li>
    <li>1.888.257.4662</li>
    <li>209.567.0748</li>
    <li><%= link_to 'Job Application', contact_job_application_path %></li>
    <li><%= link_to 'Facebook', 'http://www.facebook.com/pages/Shoob-Photography/123267651035238' %></li>
    <li><%= link_to 'Twitter', 'http://twitter.com/shoobphoto' %></li>
  </ul>
</div>