<h1 class="full"><%= breadcrumbs :admin, :package_types %></h1>
<hr class="full" />
<table class="full">
  <tr>
    <th>Title</th>
    <th>Slug</th>
    <th>Ask for sport level?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @package_types.each do |package_type| %>
  <tr>
    <td><%= package_type.title %></td>
    <td><%= package_type.slug %></td>
    <td><%= package_type.sport_level %></td>
    <td><%= link_to 'Show', package_type %></td>
    <td><%= link_to 'Edit', edit_package_type_path(package_type) %></td>
    <td><%= link_to 'Destroy', package_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<hr class="full" />
<%= link_to 'New Package type', new_package_type_path, :class => 'full' %>
